@media screen and (max-width: 768px) {
    .container{
        width: 768px;
        width: 96%;
        margin: auto;
        text-align: center;
        padding: 0px 10px;
        align-items: center;
    }

    .d-flex, .searvice_card {
        flex-direction: column;
    }

    .title {
        font-size: 36px;
    }
    .girls_image {
        width: 100%;
        border-radius: 8px;
    }
    .innovation {
        font-size: 36px;
    }
    
    
}

@media screen and (max-width: 600px){
    
    .container{
        width: 600px;
        width: 96%;
        margin: auto;
        text-align: center;
        padding: 0px 10px;
    }

    .d-flex, .searvice_card {
        flex-direction: column;
    }
    
    .title {
        font-size: 32px;
    }

    .girls_image {
        width: 100%;
        border-radius: 8px;
    }

    .innovation {
        font-size: 36px;
    }

    .searvice_card {
        padding-bottom: 100px;
    }

    .searvice_image {
        width: 96%;
    }
    .card_button {
        text-align: left;
        width: 96%;
        margin: auto;
    }
}

@media screen and (max-width: 280px) {
    .buttone_type {
        display: inline-block;
        margin-bottom: 10px;
    }
    
}
